Django==2.0.4
django-filter==1.1.0
django-suit==2.0a1
djangorestframework==3.8.2
djangorestframework-gis==0.13
Markdown==2.6.11
numpy==1.14.3
pandas==0.22.0
psycopg2==2.7.4
psycopg2-binary==2.7.4
python-dateutil==2.7.2
pytz==2018.4
six==1.11.0
uWSGI==2.0.17
